<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CtrlVoirProgrammeClient</servlet-name>
        <servlet-class>controlers.CtrlVoirProgrammeClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlInscriptionAdminClient</servlet-name>
        <servlet-class>controlers.CtrlInscriptionAdminClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlListeClients</servlet-name>
        <servlet-class>controlers.CtrlListeClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/HTML/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>menuClient</servlet-name>
        <jsp-file>/JSP/menuClient.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>afficherProgramme</servlet-name>
        <jsp-file>/JSP/afficherProgramme.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlLogin</servlet-name>
        <servlet-class>controlers.CtrlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlLogOut</servlet-name>
        <servlet-class>controlers.CtrlLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginClient</servlet-name>
        <jsp-file>/JSP/loginClient.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>adminAfficherClients</servlet-name>
        <jsp-file>/JSP/adminAfficherClients.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>formBoostrap</servlet-name>
        <jsp-file>/JSP/formBoostrap.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrlVoirProgrammeClient</servlet-name>
        <url-pattern>/CtrlVoirProgrammeClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlInscriptionAdminClient</servlet-name>
        <url-pattern>/CtrlInscriptionAdminClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlListeClients</servlet-name>
        <url-pattern>/CtrlListeClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuClient</servlet-name>
        <url-pattern>/menuClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>afficherProgramme</servlet-name>
        <url-pattern>/afficherProgramme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlLogin</servlet-name>
        <url-pattern>/CtrlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlLogOut</servlet-name>
        <url-pattern>/CtrlLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginClient</servlet-name>
        <url-pattern>/loginClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAfficherClients</servlet-name>
        <url-pattern>/adminAfficherClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formBoostrap</servlet-name>
        <url-pattern>/formBoostrap</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
