<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CtrlVoirProgrammeClient</servlet-name>
        <servlet-class>controlers.CtrlVoirProgrammeClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlInscriptionAdminClient</servlet-name>
        <servlet-class>controlers.CtrlInscriptionAdminClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlListeClients</servlet-name>
        <servlet-class>controlers.CtrlListeClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formInscriptionAdminClient</servlet-name>
        <jsp-file>/JSP/formInscriptionAdminClient.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>afficherClientsAdmin</servlet-name>
        <jsp-file>/JSP/afficherClientsAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/HTML/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>menuClient</servlet-name>
        <jsp-file>/JSP/menuClient.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>afficherProgramme</servlet-name>
        <jsp-file>/JSP/afficherProgramme.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlCreationExercice</servlet-name>
        <servlet-class>controlers.CtrlCreationExercice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editionExercice</servlet-name>
        <jsp-file>/JSP/editionExercice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>listExercice</servlet-name>
        <jsp-file>/JSP/listExercice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlListExercice</servlet-name>
        <servlet-class>controlers.CtrlListExercice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlVoirExercice</servlet-name>
        <servlet-class>controlers.CtrlVoirExercice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voirExercice</servlet-name>
        <jsp-file>/JSP/voirExercice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>modifExercice</servlet-name>
        <jsp-file>/JSP/modifExercice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlVerifNomExercice</servlet-name>
        <servlet-class>controlers.CtrlVerifNomExercice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlModifExercice</servlet-name>
        <servlet-class>controlers.CtrlModifExercice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsCreaExercice</servlet-name>
        <jsp-file>/JS/jsCreaExercice.js</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>jsSuppExercice</servlet-name>
        <jsp-file>/JS/jsSuppExercice.js</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlSupprimerExercice</servlet-name>
        <servlet-class>controlers.CtrlSupprimerExercice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrlVoirProgrammeClient</servlet-name>
        <url-pattern>/CtrlVoirProgrammeClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlInscriptionAdminClient</servlet-name>
        <url-pattern>/CtrlInscriptionAdminClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlListeClients</servlet-name>
        <url-pattern>/CtrlListeClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formInscriptionAdminClient</servlet-name>
        <url-pattern>/formInscriptionAdminClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>afficherClientsAdmin</servlet-name>
        <url-pattern>/afficherClientsAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuClient</servlet-name>
        <url-pattern>/menuClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>afficherProgramme</servlet-name>
        <url-pattern>/afficherProgramme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editionExercice</servlet-name>
        <url-pattern>/editionExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listExercice</servlet-name>
        <url-pattern>/listExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlListExercice</servlet-name>
        <url-pattern>/CtrlListExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlVoirExercice</servlet-name>
        <url-pattern>/CtrlVoirExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voirExercice</servlet-name>
        <url-pattern>/voirExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifExercice</servlet-name>
        <url-pattern>/modifExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlVerifNomExercice</servlet-name>
        <url-pattern>/CtrlVerifNomExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlModifExercice</servlet-name>
        <url-pattern>/CtrlModifExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlCreationExercice</servlet-name>
        <url-pattern>/CtrlCreationExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsCreaExercice</servlet-name>
        <url-pattern>/jsCreaExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsSuppExercice</servlet-name>
        <url-pattern>/jsSuppExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlSupprimerExercice</servlet-name>
        <url-pattern>/CtrlSupprimerExercice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
