/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 févr. 2019, 12:14:19
    Author     : hzahn
*/

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

.example {
    padding: 10px;
    border: 1px solid #ccc;
}
output {
    display: inline;
    unicode-bidi: -webkit-isolate;
}